// white
$white: #fff;
$light-white: #d9e1e5;
$soft-white: #bfcdd3;
$off-white: #fcfcfc;
$dark-grey: #515151;

// other
$light-purple: #d6d6e7;
$dark-blue: #003750;
$light-red: #f6b6b6;
$dark-red: #a80909;
