// Buttons
.spoints-btn {
  background-color: var(--create-filter-button);
  border: none;
  border-radius: 28px;
  color: #003750;
  font-size: 20px;
  font-weight: 600;
  height: 58px;
  padding: 12px 30px;
}

// Links
.spoints-links {
  color: inherit;
}

// Selection Label
.spoints-info-box {
  background-color: var(--no-filter-info-box);
  border-radius: 12px;
  color: var(--no-filter-info-box-text);
  font-size: 20px;
  font-weight: 600;
  padding: 20px 25px;
  width: fit-content;
}

// Forms
.spoints-form-input {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid var(--create-filter-input);
  color: var(--create-filter-input);
  font-size: 20px;
  font-weight: 600;
  width: 100%;

  &:focus {
    outline: 0;
  }
}

.spoints-form-label {
  color: var(--create-filter-input);
}

.photon-form-input::placeholder {
  color: #737373;
  font-size: 0.833rem/1.4;
}

.photon-form-input:hover {
  border: rgba(12 12 13 / 30%) solid 2px;
}

.photon-form-input:focus {
  border: #0a84ff solid 2px;
  box-shadow: 0 0 0 1px #0a84ff, 0 0 0 4px rgba(10 132 255 / 30%);
}

// Headings and Paragraphs
.spoints-title-1 {
  font-size: 40px;
  font-weight: 600;
}

.spoints-title-2 {
  font-size: 34px;
  font-weight: 600;
}

.spoints-title-3 {
  font-size: 28px;
  font-weight: 600;
}

.spoints-p-1 {
  font-size: 18px;
  font-weight: 600;
}

// Alerts
.photon-alert {
  align-items: center;
  border-radius: 4px;
  box-sizing: border-box;
  color: #fff;
  display: flex;
  font-size: 15px;
  height: 48px;
  justify-content: space-between;
  padding: {
    left: 16px;
    right: 16px;
  }

  width: 100%;
}

.photon-close-btn {
  background-color: inherit;
  border: none;
  color: inherit;
  font-size: 18px;
}

.photon-alert-primary {
  background-color: #0060df;
  color: #fff;
}

.photon-alert-danger {
  background-color: #d70022;
  color: #fff;
}
