@use "../components/Colors.scss" as *;

.filter {
  background-color: $white;
  border-radius: 12px;
  color: var(--filter-text);
  height: 48px;

  & > *:first-child {
    border-radius: 12px 0 0 12px;
    border-right: none;
  }

  & > *:last-child {
    border-left: none;
    border-radius: 0 12px 12px 0;
  }
}

.filter-radio {
  cursor: pointer;
}

.filter-input {
  border: none;
  outline: none;
}

.filter-text {
  color: var(--filter-text);
  font-size: 18px;
  font-weight: 400;
  height: 48px;
}

.filter-icon {
  border: none;
  box-sizing: border-box;
  height: 64px;
  padding: 0px;
  margin: 0px;
  width: 64px;

  &:hover {
    outline: 5px auto #5e9ed6;
    z-index: 1;
  }
}

.filter-edit {
  background-color: var(--filter-edit);
  cursor: pointer;
}

.filter-trash {
  background-color: var(--filter-trash);
  cursor: pointer;
}
