@use "./Filter.scss";
@use "./components.scss";

#popup {
  width: 400px;
  height: 300px;
  padding: 8px;
  overflow: auto;
}

#popup > * {
  margin-bottom: 8px;
}

#popup-title {
  margin-bottom: 16px;
}
