@use "./Colors.scss";
@use "./Themes.scss";
@use "./Basics.scss";
@use "./Filter.scss";
@use "./Components.scss";

// Resets
h1 {
  margin: 0;
  padding: 0;
}

h3 {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

#popup {
  background-color: var(--background-color);
  background-image: var(--background);
  background-repeat: no-repeat;
  box-sizing: border-box;
  color: var(--text);
  height: 600px;
  width: 800px;
}

.popup-header {
  justify-content: space-between;
}

.popup-title {
  color: var(--title-text);
}

.popup-filters {
  height: 240px;
  overflow: scroll;
}

.no-filter-display {
  color: var(--no-filter-text);
}
