@use "../components/Colors.scss";
@use "./Themes.scss";
@use "../components/Basics.scss";
@use "./Filter.scss";
@use "../components/Components.scss";

// Resets
h1 {
  margin: 0;
  padding: 0;
}

h3 {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

#popup {
  background-color: var(--background-color);
  background-image: var(--background);
  background-repeat: no-repeat;
  box-sizing: border-box;
  color: var(--text);
  height: 496px;
  width: 530px;
}

.popup-header {
  justify-content: space-between;
}

.popup-title {
  color: var(--title-text);
}

.popup-filters {
  height: 176px;
  overflow-y: scroll;
  scrollbar-color: var(--no-filter-info-box) rgba(0, 0, 0, 0);
}

.popup-filters.chrome::-webkit-scrollbar {
  background-color: var(--no-filter-info-box) rgba(0, 0, 0, 0);
}

.no-filter-display {
  color: var(--popup-info-text);
}

.filter-display {
  color: var(--popup-info-text);
}
