@use "./Colors.scss" as *;

@function light-dark($light, $dark) {
  @return var(--light, #{$light}) var(--dark, #{$dark});
}

:root {
  --ON: initial;
  --OFF: ;
}

.theme-default,
.theme-light {
  --light: var(--ON);
  --dark: var(--OFF);
}

.theme-dark {
  --light: var(--OFF);
  --dark: var(--ON);
}

@media (prefers-color-scheme: dark) {
  .theme-default {
    --light: var(--OFF);
    --dark: var(--ON);
  }
}

:root {
  // light-dark theme definitions
  --background: #{light-dark(
      url("../assets/background-light.svg"),
      url("../assets/background-dark.svg")
    )};
  --background-color: #light-dark($white, $dark-blue);
  --title-text: #{light-dark($dark-blue, $white)};
  --no-filter-text: #{light-dark($dark-grey, $soft-white)};
  --no-filter-info-box: #{light-dark($dark-blue, $soft-white)};
  --no-filter-info-box-text: #{light-dark($white, $dark-blue)};
  --create-filter-button: #{light-dark($dark-blue, $light-white)};
  --create-filter-input: #{light-dark($dark-blue, $soft-white)};
  --filter-text: #{light-dark($dark-blue, $dark-blue)};
  --text: #{light-dark($dark-blue, $white)};
  --filter-edit: #{light-dark($dark-blue, $light-purple)};
  --filter-delete: #{light-dark($dark-red, $light-red)};
  --links: #{light-dark($dark-grey, $soft-white)};
}
