// External Imports
@use "sass:list";
@use "sass:map";

// Internal Imports
@use "./breakpoints" as bp;

// Container
.flex-container {
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
}

// Margins and Paddings
$margin-abbrs: (
  "m": margin,
  "mt": margin-top,
  "mr": margin-right,
  "mb": margin-bottom,
  "ml": margin-left,
  "mx": margin-right margin-left,
  "my": margin-top margin-bottom,
);
$padding-abbrs: (
  "p": padding,
  "pt": padding-top,
  "pr": padding-right,
  "pb": padding-bottom,
  "pl": padding-left,
  "px": padding-right padding-left,
  "py": padding-top padding-bottom,
);
$spacing-abbrs: map.merge($margin-abbrs, $padding-abbrs);
$spacing-sizes: 0, 1, 2, 3, 4, 5;
$pixels: 8px;

@mixin spacing-size($name, $size) {
  @if list.index("mx" "my" "px" "py", $name) {
    @each $attr in map.get($spacing-abbrs, $name) {
      #{$attr}: $size * $pixels;
    }
  } @else {
    #{map.get($spacing-abbrs, $name)}: $size * $pixels;
  }
}

@each $name in map.keys($spacing-abbrs) {
  @each $size in $spacing-sizes {
    .#{$name}-#{$size} {
      @include spacing-size($name, $size);
    }
  }
}
