// Buttons
.spoints-btn {
  background-color: var(--button);
  border: none;
  border-radius: 28px;
  color: #003750;
  cursor: pointer;
  font-size: 20px;
  font-weight: 600;
  height: 58px;
  padding: 12px 30px;
}

.spoints-icon-button {
  cursor: pointer;
}

// Links
.spoints-links {
  color: inherit;
}
