// Buttons
.spoints-btn {
  background-color: var(--create-filter-button);
  border: none;
  border-radius: 28px;
  color: #003750;
  cursor: pointer;
  font-size: 20px;
  font-weight: 600;
  height: 58px;
  padding: 12px 30px;
}

.spoints-icon-button {
  cursor: pointer;
}

// Links
.spoints-links {
  color: inherit;
}

// Selection Label
.spoints-info-box {
  background-color: var(--no-filter-info-box);
  border-radius: 12px;
  color: var(--no-filter-info-box-text);
  font-size: 20px;
  font-weight: 600;
  padding: 20px 25px;
  width: fit-content;
}

// Forms
.spoints-form-input {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid var(--create-filter-input);
  color: var(--create-filter-input);
  font-size: 20px;
  font-weight: 600;
  width: 100%;

  &:focus {
    outline: 0;
  }
}

.spoints-form-label {
  color: var(--create-filter-input);
}
